<%- include('partials/header') %>

<h1>Les gens</h1>


<% for (let i = 0; i < profs.length; i++) { %>
<div class="people">
    <p class="imgPeople_container"><img src="/picture/teachers/<%= profs[i].photo %>" alt="<%= profs[i].firstname %>"
            class="imgPeople"></p>

    <div class="people_presentation">
        <p class="people_identity"><%= profs[i].firstname %> <%= profs[i].lastname %> </p>
        <% prez = profs[i++].presentation.split('%');
        prez.forEach(element => { %>
        <p><%= element %> </p>
        <% }) %>


    </div>

</div>


<%# ici le if, au cas où ma table comporterait un nombre impair de données %>
<% if (profs[i]) { %>
<div class="people people--reverse">
    <p class="imgPeople_container"><img src="/picture/teachers/<%= profs[i].photo %>" alt="<%= profs[i].firstname %>"
            class="imgPeople"></p>

    <div class="people_presentation">
        <p><%= profs[i].firstname %> <%= profs[i].lastname %> </p>
        <% prez = profs[i].presentation.split('%');
        prez.forEach(element => { %>
        <p><%= element %> </p>
        <% }) %>
    </div>


</div>
<% } %>

<% } %>



<%- include('partials/footer') %>