<%- include('partials/header') %>

<h1><%= profs[0].page.title %></h1>


<% for (let i = 0; i < profs.length; i++) { %>
<div class="people">
    <p class="imgPeople_container"><img src="/picture/teachers/<%= profs[i].photo %>" alt="<%= profs[i].firstname %>"
            class="imgPeople"></p>

    <div class="people_presentation">
        <p class="people_presentation_identity"><%= profs[i].firstname %> <%= profs[i].lastname %> </p>
        <%# on transforme le texte de présentation en tableau avec split (cela suppose que dans la base de données la fin de paragraphe soit visualsée par un %) %>
        <% prez = profs[i++].presentation.split('%'); 
        prez.forEach(element => { %>
        <p> <%# je vérifie si ma chaine de caractère commence par http%>
            <% if (element.indexOf('http') === 1) { %>
            <%# si oui alors c'est un lien %>
            <a href="<%= element %>"><%= element %></a>
            <% } else { %>
            <%# si non c'est juste du texte %>
            <%= element %>
            <% } %>


        </p>
        <% }) %>


    </div>

</div>


<%# ici le if, au cas où ma table comporterait un nombre impair de données %>
<% if (profs[i]) { %>
<div class="people people--reverse">
    <p class="imgPeople_container"><img src="/picture/teachers/<%= profs[i].photo %>" alt="<%= profs[i].firstname %>"
            class="imgPeople"></p>

    <div class="people_presentation">
        <p class="people_presentation_identity"><%= profs[i].firstname %> <%= profs[i].lastname %> </p>
        <% prez = profs[i].presentation.split('%');
        prez.forEach(element => { %>
        <p> <%# je vérifie si ma chaine de caractère commence par http%>
            <% if (element.indexOf('http') === 1) { %>
            <%# si oui alors c'est un lien %>
            <a href="<%= element %>"><%= element %></a>
            <% } else { %>
            <%# si non c'est juste du texte %>
            <%= element %>
            <% } %></p>
        <% }) %>
    </div>


</div>
<% } %>

<% } %>



<%- include('partials/footer') %>